<%- layout('./layouts/head.ejs') %> 

<div class="navSpace"></div>

<div class="rainbow-box">
    <div class="page-section">
        <div class="container con1">
            <div class="row text-center">
                <h1 class="text-small">SERVIDOR DE MINECRAFT</h1>
                <h2>¡CONECTARSE, COMPETIR Y CREAR! ¡ÚNETE A MILLONES DE OTROS JUGADORES DE MINECRAFT EN EL TELÉFONO, LA CONSOLA O WINDOWS GRACIAS A LOS ENORMES SERVIDORES COMUNITARIOS!</h2>
            </div>
        </div>
        <!-- <img src="assets\clouds.webp" alt="nubes"> -->
    </div>
</div>